.Navbar {
    display: flex;  
    background: linear-gradient(to right, grey, darkgrey, grey);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    position: relative; /* in order to be able to use z-index (https://stackoverflow.com/a/10507895/3174659) and bring the Navbar above App-body's background-image so that the Navbar can have a box-shadow */
    z-index: 5;
}

.Navbar-logo {
    height: 60px;
}

.Navbar-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: darkslateblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Navbar-title {
    width: 600px;
}


.Navbar-button {
    margin: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
