.LocationCard {
    min-width: 400px;
    width: 400px;
    height: 600px;
    margin: 20px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    background: rgba(66, 99, 81, 0.9);
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.LocationCard-title {
    color: lightskyblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.LocationCard-photoContainer {
    height: 280px;
}

.LocationCard-photo {
    max-width: 350px;
    border-radius: 10px;
}

.LocationCard-description {
    height: 50px;
    max-width: 100%;
    margin: 10px;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.LocationCard-formContainer {
    margin-top: 100px;
}


.LocationCard-button {
    margin: 10px;
    padding: 10px 30px;
    border-radius: 5px;
    transform: scale(1,1);
}
