.Navbar {
    display: flex;
    background-color: grey;
}

.Navbar-title {
    text-align: center;
    width: 100%;
    color: darkslateblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.Navbar-logo {
    height: 60px;
}